<template>
  <div class="w-96 mx-auto mt-32 shadow p-4 bg-white">
    <h1 class="text-4xl">New Question</h1>
    <div class="w-full mt-6">

      <div class="mt-2">
        <label for="topic">Topic<sup>*</sup></label>
        <input type="text" id="topic" v-model="form.topic" placeholder="Enter you topic address" class="w-full p-2 border-2 bg-gray-100">
        <span v-show="hasError('topic')" class="text-red-500 py-1">{{getError('topic')}}</span>
      </div>

      <div class="mt-2">
        <label for="description">Description<sup>*</sup></label>
        <textarea id="description" v-model="form.description" placeholder="Description" class="w-full p-2 border-2 bg-gray-100" />
        <span v-show="hasError('description')" class="text-red-500 py-1">{{getError('description')}}</span>
      </div>

      <div class="mt-6">
        <button @click="submitForm" class="btn py-2 px-4 text-center text-white bg-gray-900 hover:bg-gray-700">Submit</button>
      </div>

    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "create_question",
  data() {
    return {
      errorBag: null,
      form: {
        topic: '',
        description: ''
      }
    }
  },
  methods: {
    ...mapActions({ create: 'questions/create' }),
    // eslint-disable-next-line no-prototype-builtins
    hasError(ifn){ if (this.errorBag) { return !this.errorBag.hasOwnProperty(ifn); } return null; },
    getError(ifn){ if(this.errorBag) { if (!this.hasError(ifn)) { return this.errorBag[ifn][0]; } } return null; },
    async submitForm() {
      const result = await this.create(this.form)
      console.log('success', result)
      // show notification
      if (result.success) {
        alert("Question saved successfully")
      } else {
        this.errorBag = result.errors
      }
    }
  }
}
</script>

<style scoped>

</style>
