<template>
  <div class="w-96 mx-auto mt-10">

    <SearchBar @search="onSearch" />

    <QuestionList title="My Questions" :questions="filtered.filter(q => q.user_id === user.id)" :user="user" />
    <QuestionList title="All Questions" :questions="filtered" :user="user" />

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import SearchBar from '@/components/SearchBar'
import QuestionList from '@/components/QuestionList'
export default {
  name: "questions",
  components: { QuestionList, SearchBar },
  computed: mapGetters({
    user: 'auth/user',
    questions: 'questions/questions'
  }),
  methods: {
    ...mapActions({
      getQuestions: 'questions/getAll'
    }),
    onSearch(value) {
      this.filtered = this.questions.filter(q => q.topic.includes(value))
    }
  },
  mounted() {
    let params = [];
    if (typeof this.$route.params.userId !== "undefined") {
      params.push({ user_id: this.$route.params.userId })
    }
    this.getQuestions(params).then(() => { this.filtered = this.questions; })
  },
  data() {
    return {
      filtered: []
    }
  }
}
</script>

<style scoped>

</style>
