<template>
  <div class="m-4 p-4 bg-white">
    <div class="grid lg:grid-cols-2" v-if="question !== null">
      <div class="">
        <h1 class="text-3xl py-2">{{ question.topic }}</h1>
        <h1 class="text-xl py-2">{{ question.description }}</h1>
      </div>
      <div class="px-2 border-2">
        <div class="grid grid-cols-2 border-b-2 py-2">
          <strong>ID:</strong>
          <p class="lg:text-right">{{ question.id }}</p>
        </div>
        <div class="grid grid-cols-2 border-b-2 py-2">
          <strong>Author:</strong>
          <p class="lg:text-right">{{ question.user.name }}</p>
        </div>
        <div class="grid grid-cols-2 border-b-2 py-2">
          <strong>Created On:</strong>
          <p class="lg:text-right">{{ question.created_at }}</p>
        </div>
        <div class="grid grid-cols-2 py-2">
          <strong>Updated On:</strong>
          <p class="lg:text-right">{{ question.updated_at }}</p>
        </div>
      </div>
    </div>
    <div class="py-2 mt-10">
      <h1 class="text-xl">Comments:</h1>
      <ul class="grid lg:grid-cols-2 gap-2">
        <li class="my-2 p-2 border-2" v-for="(comment, index) in comments" :key="index">
          {{ comment.body }}
          <p class="text-sm mt-2">By: {{comment.user.name}}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: "ShowQuestion",
  computed: mapGetters({ comments: 'comments/comments' }),
  methods: mapActions({
    getQuestion: 'questions/getOne',
    getComments: 'comments/getAll'
  }),
  beforeMount() {
    this.getQuestion(this.$route.params.questionId)
        .then(response => {
          // Assign retrieved data
          this.question = response
          // Fetch comments belongs to this question
          this.getComments({ question_id: this.question.id })
        }).catch(error => {
          // Question could not be created, redirect to list of questions
          console.log('ERROR', error)
          this.$router.push({ name: 'dashboard' })
        })
  },
  data() {
    return {
      question: null,
    }
  }
}
</script>

<style scoped>

</style>
