<template>
  <div class="p-4">
    <div class="grid justify-items-center justify-items-stretch">

      <SearchBar @search="onSearch" />

      <QuestionList title="Questions" :questions="filtered" :user="user" @updateQuestions="handleQuestionsUpdated"/>

    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import SearchBar from '@/components/SearchBar'
import QuestionList from '@/components/QuestionList'
export default {
  name: "Home",
  components: {
    QuestionList, SearchBar
  },
  computed: mapGetters({
    questions: 'questions/questions',
    user: 'auth/user'
  }),
  methods: {
    ...mapActions({
      getQuestions: 'questions/getAll',
      getUser: 'auth/getUser'
    }),
    // Filter the questions by text and user
    onSearch(value) {
      this.filtered = this.questions.filter(q =>
          q.topic.toLowerCase().includes(value.toLowerCase()) ||
          q.description.toLowerCase().includes(value.toLowerCase()) ||
          q.user.name.toLowerCase().includes(value.toLowerCase())
      )
    },
    // Fetch questions data from server when there's an create, update or delete operation
    handleQuestionsUpdated(value) {
      // Check if update was successful, to prevent sending request to load all data on failed operations
      if(value) {
        this.getQuestions().then(() => { this.filtered = this.questions; })
      }
    }
  },
  created() {
    // Fetch authenticated user into state
    this.getUser()
    // Fetch questions, then assigned to filtered list
    this.getQuestions().then(() => { this.filtered = this.questions; })
  },
  data() {
    return {
      filtered: []
    }
  }
};
</script>
