<template>
  <div class="border-2">
    <h1 class="w-full bg-gray-300 p-2">Add Comment</h1>
    <div class="p-2">
      <div class="w-full">
        <label for="body" class="text-sm">Comment:</label>
        <textarea v-model="form.body" name="body" id="body" cols="30" rows="2" class="w-full bg-gray-100 border-2 p-1" />
        <span class="text-red-500 py-1">{{getError('body')}}</span>
      </div>
      <button @click="submitCommit" class="py-2 px-4 bg-black text-white mt-2">Submit</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "Comments",
  props: ['question'],
  data() {
    return {
      errorBag: null,
      form: {
        question_id: this.question.id,
        body: ''
      }
    }
  },
  methods: {
    ...mapActions({
      addComment: 'comments/create'
    }),
    // eslint-disable-next-line no-prototype-builtins
    hasError(ifn){ if (this.errorBag) { return !this.errorBag.hasOwnProperty(ifn); } return null; },
    getError(ifn){ if(this.errorBag) { if (!this.hasError(ifn)) { return this.errorBag[ifn][0]; } } return null; },
    async submitCommit() {
      const result = await this.addComment(this.form)
      if (result.success) {
        alert('Comment added successfully')
      } else {
        this.errorBag = result.errors
      }
    }
  }
}
</script>

<style scoped>

</style>
