<template>
  <li class="p-2 my-4 shadow bg-white">
    <div class="grid lg:grid-cols-2 gap-2">
      <div class="border-2">
        <div class="flex justify-items-stretch">
          <h1 class="bg-gray-400 flex justify-center items-center w-2/12">{{ question.id }}</h1>
          <p class="text-lg p-2 bg-gray-200 w-10/12">
            {{ question.topic }}
          </p>
        </div>
        <div class="grid grid-cols-2 text-sm p-2">
          <div class="">By:<span class="ml-1">{{ question.user.name }}</span></div>
          <div class="">Date/Time:<span class="ml-1">{{ question.created_at }}</span></div>
        </div>
        <p class="text-sm p-2">{{ question.description }}</p>
        <div class="flex gap-2 justify-end p-2">
          <router-link v-show="question.approved || user.is_admin" :to="{ name: 'view-question', params: { questionId: question.id } }">View</router-link>
          <button v-show="!question.approved && user.is_admin" @click="changeStatus(question.id, 1)" class="text-yellow-600">Approve</button>
          <button v-show="question.approved && user.is_admin" @click="changeStatus(question.id, 0)" class="text-yellow-600">Reject</button>
          <button v-show="question.user_id === user.id || user.is_admin" @click="showDelete(question.id)" class="text-red-600">Delete</button>
        </div>
      </div>
      <Comments :question="question" />
    </div>
  </li>
</template>

<script>
import { mapActions } from 'vuex'
import Comments from '@/components/Comments'
export default {
  name: "QuestionListItem",
  components: { Comments },
  props: ['question', 'user'],
  methods: {
    ...mapActions({
      deleteQuestion: 'questions/delete',
      updateQuestion: 'questions/update',
    }),
    // Delete question
    async showDelete(id) {
      // Show confirmation dialog
      if (confirm("Confirm deleting the record")) {
        // Send delete request to API
        const success = await this.deleteQuestion(id)
        console.log('succ', success)
        // Send update/ignore notification to parent components to fetch updated records
        this.$emit('updateQuestions', success)
        // Show success/failed response dialog
        if(success) {
          alert("Question removed successfully")
        } else {
          alert("Question could not be removed.")
        }
      }
    },
    // Change status of a question to 'Approved' or 'Rejected'
    async changeStatus(id, status) {
      // Show confirmation dialog
      if (confirm("Confirm status change for question")) {
        // Send update request to API
        const success = await this.updateQuestion({
          id: id,
          approved: status
        })
        // Send update/ignore notification to parent components to fetch updated records
        this.$emit('updateQuestions', success)
        // Show success/failed response dialog
        if(success) {
          alert("Question updated successfully")
        } else {
          alert("Question could not be updated.")
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
