<template>
  <div>
    <h1 class="text-3xl"><u>{{ title }}</u></h1>
    <div class="my-2">
      <ul>
        <QuestionListItem
            v-for="(question, index) in questions"
            :key="index"
            :question="question"
            :user="user" @updateQuestions="(event) => $emit('updateQuestions', event)"
         />
      </ul>
    </div>
    <div class="my-2 w-full" v-show="!questions.length">
      <h1>No records found</h1>
    </div>
  </div>
</template>

<script>
import QuestionListItem from '@/components/QuestionListItem'
export default {
  name: "QuestionList",
  props: ['title', 'questions', 'user'],
  components: { QuestionListItem },
}
</script>

<style scoped>

</style>
