<template>
  <div class="py-6 mb-4 flex">
    <input type="text" v-model="search" placeholder="Search by text or user" class="p-2 w-full border-2 bg-white" />
    <button class="py-2 px-4 bg-black text-white" @click="$emit('search', search)">Search</button>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  data() {
    return {
      search: ''
    }
  }
}
</script>

<style scoped>

</style>
