<template>
  <div id="nav" class="w-full mx-auto flex justify-around bg-white shadow py-4">
    <router-link :to="{ name: 'dashboard' }" class="hover:text-blue-600">All Questions</router-link>
    <template v-if="user">
      <router-link :to="{ name: 'create-question', params: { userId: user.id } }" class="hover:text-blue-600">New Question</router-link>
      <button @click="logout" class="hover:text-blue-600">Logout</button>
      <span>Welcome, <i>{{user.name}}</i></span>
    </template>
    <template v-else>
      <router-link :to="{ name: 'login' }" class="hover:text-blue-600">Login</router-link>
      <router-link :to="{ name: 'register' }" class="hover:text-blue-600">Register</router-link>
    </template>
  </div>
</template>

<script>
import API from '@/services/api'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: "TopNav",
  computed: mapGetters({ user: 'auth/user' }),
  created() {
    this.getUser()
  },
  methods: {
    ...mapActions({ getUser: 'auth/getUser'}),
    async logout() {
      await API.post('/api/logout')
          .then(localStorage.removeItem('access_token'))
          .then(() => this.getUser())
          .finally(location.reload())
    }
  }
}
</script>

<style scoped>

</style>
