<template>
  <div class="mx-auto">
    <TopNav />
    <router-view />
  </div>
</template>

<script>
import TopNav from '@/components/TopNav'
export default {
  name: 'UserBody',
  components: { TopNav },
}
</script>
