<template>
    <div class="w-96 mx-auto mt-60 shadow p-4 bg-white">
        <h1 class="text-4xl">Login</h1>
        <div class="w-full mt-6">
            <span v-show="errorBag !== null" class="text-red-500 py-1">{{errorBag}}</span>
            <div class="mt-2">
                <label for="email">Email</label>
                <input type="email" id="email" v-model="form.email" placeholder="Enter you email address" class="w-full p-2 border-2 bg-gray-100">
            </div>

            <div class="mt-2">
                <label for="password">Password</label>
                <input type="password" id="password" v-model="form.password" placeholder="Enter you password" class="w-full p-2 border-2 bg-gray-100">
            </div>

            <div class="mt-6">
                <button @click="submitLogin" class="btn py-2 px-4 text-center text-white bg-gray-900 hover:bg-gray-700">Login</button>
                <router-link :to="{ name: 'register' }" class="mx-2 hover:text-blue-600">Register an account</router-link>
            </div>

        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'login',
    data() {
        return {
            errorBag: null,
            form: {
                email: '',
                password: '',
            }
        }
    },
    computed: {
    },
    methods: {
      ...mapActions({
        login:  'auth/login',
        getUser: 'auth/getUser'
      }),
      // eslint-disable-next-line no-prototype-builtins
      hasError(ifn){ if (this.errorBag) { return !this.errorBag.hasOwnProperty(ifn); } return null; },
      getError(ifn){ if(this.errorBag) { if (!this.hasError(ifn)) { return this.errorBag[ifn][0]; } } return null; },
      async submitLogin() {
        // Dispatch credentials to login method in store
        await this.login(this.form)
            .then((response) => {
              // Check if the user's access_token was generated and received
              if(typeof response.access_token !== 'undefined') {
                // Reload the page, redirect to intended url
                location.reload()
              } else {
                // Show errors message
                this.errorBag = response.message
              }
            }).catch(error => {
              // Any other errors
              console.log('LOGIN_ERROR', error);
            })
      }
    }
}
</script>
