<template>
  <div class="w-96 mx-auto mt-60 shadow p-4 bg-white">
    <template v-if="user === null">
      <h1 class="text-4xl">Register</h1>
      <div class="w-full mt-6">

        <div class="mt-2">
          <label for="name">Username</label>
          <input type="text" id="name" v-model="form.name" placeholder="Enter your username" class="w-full p-2 border-2 bg-gray-100">
          <span class="text-red-500 py-1">{{getError('name')}}</span>
        </div>

        <div class="mt-2">
          <label for="email">Email</label>
          <input type="email" id="email" v-model="form.email" placeholder="Enter your email address" class="w-full p-2 border-2 bg-gray-100">
          <span class="text-red-500 py-1">{{getError('email')}}</span>
        </div>

        <div class="mt-2">
          <label for="password">Password</label>
          <input type="password" id="password" v-model="form.password" placeholder="Enter your password" class="w-full p-2 border-2 bg-gray-100">
          <span class="text-red-500 py-1">{{getError('password')}}</span>
        </div>

        <div class="mt-2">
          <label for="password_confirmation">Repeat Password</label>
          <input type="password" id="password_confirmation" v-model="form.password_confirmation" placeholder="Confirm your password" class="w-full p-2 border-2 bg-gray-100">
        </div>

        <div class="mt-6">
          <button @click="submitForm" class="btn py-2 px-4 text-center text-white bg-gray-900 hover:bg-gray-700">Register</button>
          <router-link :to="{ name: 'login' }" class="mx-2 hover:text-blue-600">Already have an account</router-link>
        </div>

      </div>
    </template>
    <template v-else>
      <div class="text-center py-6">
        <h1 class="text-2xl text-green-500 uppercase mb-4">Registration Successful</h1>
        <router-link :to="{ name: 'login' }" class="mx-2 bg-black text-white py-2 px-4 hover:bg-gray-700">Login</router-link>
      </div>
    </template>
  </div>
</template>

<script>
import API from '@/services/api'
export default {
  name: 'register',
  data() {
    return {
      errorBag: null,
      user: null,
      form: {
        email: '',
        password: '',
        password_confirmation: '',
        name: ''
      }
    }
  },
  computed: {
  },
  methods: {
    // eslint-disable-next-line no-prototype-builtins
    hasError(ifn){ if (this.errorBag) { return !this.errorBag.hasOwnProperty(ifn); } return null; },
    getError(ifn){ if(this.errorBag) { if (!this.hasError(ifn)) { return this.errorBag[ifn][0]; } } return null; },
    async submitForm() {
      await API.post('/api/register', this.form)
          .then(response => {
            this.user = response.data.data
            alert("Successfully registered")
            this.$router.push({ name: 'login' })
          })
          .catch(error => {
            this.user = null
            this.errorBag = error.response.data.errors
          })
    }
  }
}
</script>
